<div class="jumbotron">
<h1>Pinterested</h1>
<p>Home page for the book exercise application.</p>
<%= link_to 'Home',root_path,class:'btn btn-default'%>
<%= link_to 'About',home_about_path,class:'btn btn-default'%>
</div>
